<!DOCTYPE html>
<html>
<head>
    <title>Explainable IDS</title>
    <style>
        body {
            background: #0a192f;
            color: white;
            text-align: center;
            padding-top: 120px;
            font-family: Arial;
        }
        h1 { font-size: 40px; }
        input { padding: 10px; margin-top: 20px; }
        button {
            padding: 10px 20px;
            margin-top: 20px;
            background: #00ff9d;
            border: none;
            cursor: pointer;
        }
    </style>
</head>

<body>

<h1>Explainable AI-Based Intrusion Detection System using SHAP</h1>

<form action="/predict" method="post" enctype="multipart/form-data">
    <input type="file" name="file" required><br>
    <button type="submit">Upload & Predict</button>
</form>

</body>
</html>